body {
  background-color: rgb(126, 204, 214);
  font: "helvetica";
  /*background-image: href="/Day-2/Chocolate_Bar.jpg";*/
}

/*
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right; 
	margin: 0; 
	padding: 0;
	}

*/

h1 {
  color: rgb(0, 0, 0);
  font-size: 36px;
  text-align: center;
}

h2 {
  color: rgb(61, 40, 2);
  font-size: 40px;
}

ol {
  list-style-type: decimal;
}

/*<body background="URL">
URL	The URL of the background image.
Possible values:

An absolute URL - points to another web site (like href="http://www.example.com/bgimage.gif")
A relative URL - points to a file within a web site (like href="/images/bgimage.gif")

/*
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC1V2lULYt-qpdfmmzT9yFnjS-wIx8mBtfbohr-MzSPGUd2ufB
 
/*
Clipart Chocolate #138971
mzayat.com
Chocolate free to use clip art
*/