body {
  background-color: silver;
  img: 400px;
  font: "helvetica";
  padding: 25 25 25 25;
}

div {
  border: none;
  margin: 0 50 0 50;
  padding: 0 20 0 50;
  height: 50px;
}

section {
  border: 2px solid blue;
  margin: 0 0 0 50;
  padding: 0 0 0 50;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 36px;
  text-align: center;
  margin: 2 5;
  padding: 2 5 2 5;
}

h2 {
  color: rgb(61, 40, 2);
  font-size: 40px;
}

h3 {
  color: rgb(20, 20, 19);
  font-size: 22px;
}

h4 {
  color: rgb(24, 23, 21);
  font-size: 18px;
}

/*
ol {
  list-style-type: decimal;
}
*/

ol {
  list-style-type: decimal;
  column-count: 2;         /* Found option on StackOverflow */
  margin: 0 50 0 50;
}

ul {
  column-count: 2;
  list-style-type: disc;
}

/*<body background="URL">
URL	The URL of the background image.
Possible values:

An absolute URL - points to another web site (like href="http://www.example.com/bgimage.gif")
A relative URL - points to a file within a web site (like href="/images/bgimage.gif")

/*
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC1V2lULYt-qpdfmmzT9yFnjS-wIx8mBtfbohr-MzSPGUd2ufB
 
/*
Clipart Chocolate #138971
mzayat.com
Chocolate free to use clip art
*/